<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All films</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>List of films</h1>

<div class="item-list">
    <div class="item-card" th:each="film : ${films}">
        <img src="/images/default-film.png" alt="Film cover">
        <div class="item-info">
            <p th:text="${film.name}"></p>
            <p th:text="${film.director} + ', ' + ${film.year}"></p>
        </div>
        <a class="item-link" th:href="@{/films/{id}(id=${film.filmId})}">Details</a>
    </div>
</div>

<div class="button-middle">
    <form th:action="@{/films/new}">
        <input type="submit" value="Create"/>
    </form>
</div>


</body>
</html>