<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<p th:text="${film.name}">name</p>
<p th:text="${film.director}">director</p>
<p th:text="${film.year}">year</p>

<form th:action="@{/films/{id}/edit(id=${film.filmId})}">
    <input class="btn edit-btn" type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/films/{id}(id=${film.filmId})}">
    <input class="btn delete-btn" type="submit" value="Delete"/>
</form>

</body>
</html>