<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>All journals</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div th:each="journal: ${journals}">
  <p th:text="${journal.thematic}">Thematic</p>
<!--  <p th:text="${journal.name}">Name</p>-->
<!--  <p th:text="${journal.month} + ', ' + ${journal.year}">Month, year</p>-->
    <a th:href="@{/journals/{id}(id=${journal.journalId})}">Details</a>
</div>

<form th:action="@{/journals/new}">
    <input type="submit" value="Create"/>
</form>

</body>
</html>