body {
    font-family: Georgia, serif;
    font-weight: bold;
    background-image: url("/images/wooden-background.png");
    background-size: cover;
    background-attachment: fixed;
    color: #5b4636;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #a67c52;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.list {
    display: block;
    margin-bottom: 10px;
    color: #5b4636;
}
.list a {
    text-decoration: none;
    color: #5b4636;
}

a {
    cursor: pointer;
}

label {
    display: block;
    color: #7c5c3b;
    margin-top: 12px;
}

input[type="text"] {
    width: 300px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #bfae9c;
    background-color: #fcf8f2;
    color: #5b4636;
    margin-bottom: 12px;
    font-family: inherit;
    font-weight: inherit;
}

input[type="submit"] {
    background-color: #8d6e63;
    color: #fffaf0;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
}

input[type="submit"]:hover {
    background-color: #7b5d50;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}

.book-card {
    background-color: #fdf8ef;
    border: 1px solid #d8c3a5;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(91, 70, 54, 0.1);
}

.book-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.book-info p {
    margin: 5px 0;
    font-size: 15px;
    color: #4a3d2d;
    font-family: 'Georgia', serif;
}

.book-link {
    display: inline-block;
    margin-bottom: 10px;
    color: #fffaf0;
    background-color: #a67c52;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'Georgia', serif;
}

.book-link:hover {
    background-color: #8c6239;
}

.button-middle {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.error {
    color: #b03a2e;
    font-size: 14px;
    font-family: 'Georgia', serif;
    margin-bottom: 6px;
}
