<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit member</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<form th:method="PATCH" th:action="@{/members/{id}(id=${member.memberId})}" th:object="${member}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>

    <label for="email"> Enter E-Mail: </label>
    <input type="text" th:field="*{email}" id="email"/><br/>
    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>

    <input type="submit" value="Update"/>
</form>
</body>
</html>