<!DOCTYPE html>
<html lang="en" xmlns:type="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>New member</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<form th:method="POST" th:action="@{/members}" th:object="${member}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>

    <label for="email">Enter E-Mail: </label>
    <input type="text" th:field="*{email}" id="email"/><br/>

    <input type="submit" value="Create"/>
</form>

</body>
</html>