<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<p th:text="${member.name}">name</p>
<p th:text="${member.surname}">surname</p>
<p th:text="${member.email}">email</p><br/>

<div class="checkout-box" th:if="${books.isEmpty()}">
    <p>This member has not checked out any books</p>
</div>

<div class="checkout-box" th:if="${!books.isEmpty()}">
    <p>Books: </p>
    <div class="checkout-list" th:each="book : ${books}">
        <a th:text="${book.name + ', ' + book.author}"
           th:href="@{/books/{id}(id=${book.bookId})}">Book</a>
    </div>
</div>

<form th:action="@{/members/{id}/edit(id=${member.memberId})}">
    <input class="btn edit-btn" type="submit" value="Edit">
</form>
<br/>

<form th:method="DELETE" th:action="@{/members/{id}(id=${member.memberId})}">
    <input class="btn delete-btn" type="submit" value="Delete"/>
</form>

</body>
</html>